.map {
  	position:absolute;
  	top:0;
  	bottom:0;
  	width: 100%;
  	height:100%;
}

a {
  text-decoration: none;
  color: #000000;
  padding: 0;
}
  
a:hover, a:active {
  background-color: #FDF3E7;
  color: #000000  ;
    }


.header {
  display: block;
  background: #7E8F7C;
  opacity: 0.9;
  width: 10%;
  float: right;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%
 

}

.list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: table;
  border-collapse: collapse;
  border: none;
  
  }
  
.link {
 display: block; 
 margin: none;
 font-weight: bold;
 color: #FDF3E7;
 background-color: #7E8F7C;
 text-align: center;
 padding: 2px;
 text-decoration: none;
 text-transform: uppercase;
}

.listitem {
  float: left;
  font: 12px serif;
  display: block;
  position: relative;
  padding: 10px 12px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li {
font:  12px serif;
}


ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}


  
#open-overlay:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}

.title {
  text-align: center;
}  

.logo {
  text-align: center;
}

*{margin:0;padding:0;}

#overlay{ /*sets all of the properties for the overlay */
    height:80%;
    width:80%;
    margin:0 auto;
    background:#FDF3E7;
    color:#3B3738;
    padding:10px;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

#mask{ /* create the mask */
    position:fixed;
    top:0;
    left:0;
    background:rgba(126,143,124,0.6);
    z-index:500;
    width:100%;
    height:100%;
    display:none;
}
/* use :target to look for a link to the overlay then we find the mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
}

.close{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-20px;
    right:-20px;
    background:#C63D0F;
    color: #FDF3E7;
    height:40px;
    width:40px;
    line-height:40px;
    font-size:35px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -o-border-radius:40px;
    border-radius:40px;
}

#open-overlay{ /* open the overlay */
    padding:10px 5px;
    background:#C63D0F;
    color: #FDF3E7;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

.button{
  padding:10px 5px;
  background:#C63D0F;
  color: #FDF3E7;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  border-radius:10px;
  box-shadow: none;
}

p{
  font-family: "Trebuchet MS";
}